body{
    margin: 0;
    padding: 0;
}

.logo{
    width: 5rem;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 0.5rem;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li{
    margin: 0 1rem;
}